{% extends 'petshop/templates/base.html' %}

{% load static %}

{% block title %}Adopta{% endblock title %}

{% block content %} 
    {% if user.is_authenticated %}
        <img src="{% static 'images/feliz.jpg' %}" alt="home">
        <p>Bienvenido a nuestra tienda de mascotas</p>
        <p>Tu nombre es - {{user.first_name}} {{user.last_name}}</p>
        <br><br>
    {% endif %}

    <section>
        <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="principal"> 
            <div id="contenedorAnimal">
                <img class="img-fluid" src="{% static 'images/animales.png' %}" alt="animales">
            </div>
        </div>
        </div>
    </section>

    <div class="volver">
        <h4>Acá podrás buscar entre nuestro socios personas que quieran adoptar mascotas.</h4>

        <button class="btn btn-danger" onclick="traer()">Busca!</button>
        <div class="mt-5" id="contenido"></div>
    </div>
    <script src="js/randomuser.js"></script>
{% endblock content %}